*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Arial", Sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #444;
}

*:focus{
    outline: 2px #de2e54 double;
}

/* CONTANIER */
.container{
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

/* SITE-HEADER */
.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SITE HEADER LOGO */
.site-header-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600px;
    color: #222;
}

.site-header-logo:hover{
    color: #de2e54;
}

.site-header-logo:active{
    opacity: 0.6;
}

.site-logo-img{
    margin-right: 16px;
}

/* SITENAV */
.sitenav{
    font-size: 16px;
    letter-spacing: 2px;
}

.sitenav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitenav-item:not(:last-child){
margin-right: 32px;
}

.sitena-link{
    display: block;

}

.sitenav-link{
    display: block;
    color: #222;
    text-decoration: none;
}

.sitenav-link:hover{
    color: #de2e54;
}

.sitenav-link:active{
    opacity: 0.6;
}

/* MAIN LINK */
.main-link{
    border: 2px solid ;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    background-color: #de2e54;
    color: #fff;
    font-family: "Open Sans Condensed";
    padding: 10px 22px;
    font-size: 15px;
    letter-spacing: 2px;
}

.main-link:hover{
    background-color: #fff;
    color: #de2e54;
}

.main-link:active{
    background-color: #de2e54;
    color: #fff;
    opacity: 0.6;
}








